doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Caza Lan Gaming
        <link href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700" rel="stylesheet">
    body
        include includes/header.pug
        include includes/conocenos.pug
        include includes/pcs.pug
        include includes/banner-disfruta.pug
        include includes/galeria.pug
        include includes/encuentranos.pug
        include includes/footer.pug
        include includes/modal.pug
       
            