.meet-us
    .meet-us__container.container
        .our-history.l-65.column
            .title-meet
                h1.title-history.l-100
                    <span>NUESTRA </span>HISTORIA
            .main-paragraph.l-80
                p.paragraph-text 
                    span Caza lan gaming
                    |  abrió sus puertas por primera vez en el año 2005 en el 
                    | Asentamineto Humano Mateo Pumacahua Chorrillos, siendo uno de los primeros
                    | lan centers en promover entretenimiento de video juegos a través de computadores.
                p.paragraph-text Desde entonces seguimos mejorando y brindando los mejores juegos online
                    |  a nuestros clientes quienes son los mas importantes para nosotros.  
        .image-history.l-35.column
            img(src=require("../../img/image-boy.png"), alt="boy").img-boy    
                