.meet-us
    .container
        .title-meet.column
            h1.title-main Conócenos
        .main-paragraph.column.l-100
            .paragraph.l-65
                p.paragraph-text 
                    span Caza lan gaming
                    |  abrió sus puertas por primera vez en el año 2005 en el Asentamineto Humano
                    | Mateo Pumacahua Santiago de Surco, siendo uno de los primeros en promover
                    | entretenimiento de video juegos a través de computadoras.
                p.paragraph-text Desde entonces seguimos mejorando y actualizándonos con los mejores juegos online y cumpliendo con las exigencias de nuestros clientes.
                
                