.conocenos
    .contenedor
        .titulo
            h1.titulo-main Conócenos
        .parafo
            p.parrafo-text 
                span Caza lan gaming
                |  abrió sus puertas por primera vez en el año 2005 en el Asentamineto Humano
                | Mateo Pumacahua Santiago de Surco, siendo uno de los primeros en promover
                | entretenimiento de video juegos a través de computadoras.
            p.parrafo-text Desde entonces seguimos mejorando y actualizandonos con los mejores juegos online y cumpliendo con las exigencias de nuestros clientes.
                
                