footer.footer
    .main-footer
        .container
            .footer-about.box.column.l-25
                div.l-100
                    p.about-title ACERCA DE NOSOTROS
                ul.list.l-100
                    li.list-about
                        a(href="#").list-link - Conócenos
                    li.list-about 
                        a(href="#").list-link - Ver mapa    
            .footer-pcs.box.column.l-25
                div.l-100
                    p.about-title PCS
                ul.list.l-100
                    li.list-about
                        a(href="#").list-link - Mouse
                    li.list-about 
                        a(href="#").list-link - Teclado
                    li.list-about 
                        a(href="#").list-link - Monitor
                    li.list-about 
                        a(href="#").list-link - Pc  
            .footer-find.box.column.l-25
                div.l-100
                    p.about-title ENCUÈNTRANOS
                ul.list.l-100
                    li.list-about
                        a(href="#").list-link - Contáctanos 
            .footer-games.box.column.l-25
                div.l-100
                    p.about-title JUEGOS PREFERIDOS
                ul.list.l-100
                    li.list-about
                        a(href="#").list-link - Dota2
                    li.list-about 
                        a(href="#").list-link - Counter Strike - GO
                    li.list-about 
                        a(href="#").list-link - League of Legends
                    li.list-about 
                        a(href="#").list-link - Rakion
                    li.list-about 
                        a(href="#").list-link - Wolfteam 
    .main-copyright
        .container
            .name.column.l-l00 CAZA LAN GAMING