
.banner
    header
        .container
            nav.menu
                ul.menu-main
                    li
                        a(href="#") Conócenos
                    li
                        a(href="#") Promoción
                    li
                        a(href="#") Encuéntranos
                    li
                        a(href="#") Pcs