.banner
    header.header
        nav.nav-menu.container
            .imago-tipo.l-30.column
                img(src=require("../../img/logo-ms150.png"), alt="Inicio").imagotipo
            ul.main-list.l-70.column
                li.list-menu
                    a(href="#").link-menu Conócenos
                li.list-menu
                    a(href="#").link-menu Servicios
                li.list-menu
                    a(href="#").link-menu Fotos
                li.list-menu
                    a(href="#").link-menu Encuéntranos
    .banner-text.container
        .banner-message.l-100.column
            .banner-box-title.l-100
                h1.banner-title.l-65 Disfruta los mejores juegos online 
                                | en nuestro lan gaming!
            .banner-box-title.l-100
                p.short-text y despierta el gamer que llevas dentro.
        .banner-button.l-100.column
            button(type='button').button-game Ver juegos


