.promotion
        .container
                .promo-title.column.l-100
                    h1.titulo-main Nuestra Promócion
                .promo-text.column.l-100
                    .text-icon
                        <i class="far fa-clock watch"></i>
                    .text-main
                        h2 Pide la promo 
                        p Por cada 2 horas de tu consumo se te cobrara s/1.50
