
/* GOOGLE MAPS */
.find-us {
    margin-top: 60px;
}
iframe {
    width: 100%;
}
.info {
    height: 100%;
}
.main-find {
    .title-info {
        text-align: center;
        margin: 1em 0; 
        @include font(40px, 400, normal, $colorSecondary); 
    }   
}

.info__locate {
    margin-bottom: 1.5em;
    border-radius: 4px;
    &:last-child() {
        margin-bottom: 0;
    }
}
.info__first {
    display: flex;
    justify-content: center;
    background: $colorSecondary;
    height: 2em;
    align-items: center;
    @include font(20px, 600, normal);
    .icon {
        margin-right: .2em;
    }
}
.info__second {
    @include font(14px, 400, normal, #272727);    
    border: 1px solid #dcdbdb;
    height: 50px;
    box-shadow: 0px 3px 11px -2px rgba(0,0,0, .3);
    .info__text {
        margin: auto;
        line-height: 50px;
        text-align: center;
    }
}