                /* Estilos header */

.banner {
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 75vh;
}

/*Estilos nav, logo*/
.header {
    width: 100%;
   
}
.imagotipo {
    display: block;
    width: 100px;
}
.main-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}
.list-menu {
    text-align: center;
    & .link-menu {
        @include font(14px,600,normal, #cccccc);
        padding: 0.5em 1em;
        margin: 1em;
        border: transparent 1px solid;
        letter-spacing: 0.3px;
        &:hover {
            text-decoration: none;
            border: $colorSecondary 1px solid;
            color: $colorSecondary;
        }
    }
}

/*Estilos contenido central*/
.banner-text {
    padding-top: 9em;
}
.banner-box-title {
    text-align: center;
}
.banner-title {
    @include font(40px,500,normal, $colorPrimary);
    margin: auto;
}
.short-text {
    @include font(14px,300,normal, $colorPrimary);
    padding-top: 1em;
}
.banner-button {
    text-align: center;
}
.button-game {
    padding: .7em 1.5em;
    border-radius: 4px;
    background: $colorSecondary;
    border: none;
    @include font(16px,300,normal, $colorPrimary);
    margin-top: 1em;
    margin-bottom: 3em;
    &:hover {
        background: #b68722;
    }
}