.out-promotion {
    height: 30em;
    position: relative;
}
.promo-container {
}
.promotion {
    width: 100%;
    height: 80%;
    background: #0465b2;
    border-top: .5em solid $colorPrimary;
    border-bottom: .5em solid $colorPrimary;
}
.promo-title {
    margin: 6em 0;
}
.title {
    @include font(60px, 600);
    text-shadow: 2px 2px #272727;
}
.sub-title {
    @include font(40px, 600);
    text-shadow: 2px 2px #272727;
}
.paragraph-promo {
    @include font(30px, 400, normal, #d8d6d6);   
    text-shadow: 2px 2px #272727;
}   


/* Columna y reloj */
.promo-column {
    position: absolute;
    right: 10%;
    top: 0;
}
.watch-column {
    background: $colorPrimary;
    height: 30em;
    &::before {
        content: "";
        width: 40px;
        height: 100px;
        background: $colorPrimary;
        position: absolute;
        top: -3px;
        left: -30px;
        transform: rotate(50deg);
        z-index: -1;
    }
    &::after {
        content: "";
        width: 40px;
        height: 100px;
        background: $colorPrimary;
        position: absolute;
        bottom: -2px;
        left: -31px;
        transform: rotate(130deg);
        z-index: -1;
    }
}
.icon-clock {
    font-size: 205px;
    color: #fff;
    animation: rotate 5s alternate;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}