.promotion {
    background: url(../img/guy.jpg);
    background-size: 100% 100%;
    height: 45em;
}
.promo-title {
    text-align: center;
    margin: auto;
        @include font(20px, 400, normal, $colorPrimary);
    }
    .titulo-main {
        margin-top: 2.5em;    
    }
    .promo-text {
        padding-top: 150px;
        margin: 0 auto;
    }
    .text-icon {
        text-align: center;
        .watch {
            color: $colorPrimary;
            font-size: 8em;
        }
    }
.text-main {
    text-align: center; 
    margin-top: 2em;
    margin: 0 auto;
}
.desc-title {
    @include font(40px, 600, normal);
}
.desc-paragraph {
    margin-top: .5em;
    @include font(30px, 600, normal);
}


