
.icon-pc:before { content: '\e800'; } /* '' */
.icon-mouse:before { content: '\e801'; } /* '' */
.icon-clock:before { content: '\e802'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-keyboard:before { content: '\f11c'; } /* '' */