mixin boxPcs (title, text)
    .main-pc
        .main-pc__title
            h1= title
        .main-pc__text
            <i class=attributes.class></i>
            .main-pc__paragraph
                p= text



     