section.out-promotion.cross-center
    .promotion
            .container.promo-container
                .promo-title.column.l-75.cross-center.main-center
                    .title.l-100
                        p Nuestra promoción
                    .sub-title.l-100
                        p ¡Pide la promo!
                    .paragraph-promo.l-100
                        p Por cada 2 horas de tu consumo se te cobrara s/1.50            
                .promo-column.column.l-25
                    .watch-column.l-100.cross-center.main-center
                        span.icon-clock